<% if book.favorited_by?(current_user) %>

<p>
  <%= link_to book_favorites_path(book), method: :delete, remote: true, data: {"turbolinks" => false}, class: "favorite-link" do %>
  <i class="fa-solid fa-heart" style="color: red;"></i>
  <span class="favorite-count"><%= book.favorites.count %></span>
  <% end %>
</p>
 
  <% else %>
    
  <p>
    <%= link_to book_favorites_path(book), method: :post, remote: true, data: {"turbolinks" => false}, class: "favorite-link" do %>
    <i class="fa-solid fa-heart" style="color: blue;"></i>
    <span class="favorite-count"><%= book.favorites.count %></span>
  <% end %>
  </p>
 
  <% end %>
  
  